{% extends 'base.html.twig' %}

{% block title %}Acceuil | {{ parent() }}{% endblock %}

{% block body %}
<h2>Facilitez la gestion<br> de vos dossiers médicaux</h2>

                <div id="container">
                        <div id="img-container">
                  <img src="https://openclipart.org/image/400px/284655" alt="consultation" />
                </div>
                
                 <div>
                       <h3>Fonctionnalités</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel malesuada nisi. Sed tristique quis ipsum ac varius. Suspendisse ultrices augue in suscipit ornare. Sed vel nibh rhoncus, egestas est ut, fringilla magna. Donec orci quam, cursus iaculis imperdiet id, elementum nec lorem. Vivamus at mauris eget dolor laoreet pulvinar. Aliquam venenatis ac felis eget feugiat. Maecenas consequat iaculis lorem, in auctor felis interdum feugiat. Sed gravida imperdiet quam vitae sagittis. Quisque at convallis ante, at bibendum erat. Sed porttitor sollicitudin ligula, ac pellentesque sem pellentesque at. Fusce at suscipit erat. Vestibulum mattis enim enim, non dictum tortor rutrum vel. Suspendisse interdum, diam et euismod convallis, .


                        </p>
                 </div> 
 
{% endblock %}